* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  left: 0;
  top: 0;
  background: #1c1a19;
  position: relative;
  
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0;
  z-index: 999;
  top: 0;
  background-color: #3c3a39;
}

nav {
  position: relative;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 12px;
  position: absolute;
  height: 7vh;
  margin-top: 1rem;
  left: 12px;
}

.bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 5px auto;
  transition: all 0.1s ease-in-out;
  background-color: white;
}

.bar:hover {
  background-color: #ff6b00;
}

.hamburger {
  display: block;
  z-index: 999 !important;
  position: absolute;
  left: 90%;
  margin-top: 1.5rem;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px)  rotate(45deg);
  background-color: #6f6c6b;
  height: 3px;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px)  rotate(-45deg);
  background-color: #6f6c6b;
  height: 3px;
}

.logo p {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.headline {
  display: flex;
  align-items: flex-start;
  padding: 140px 40px;
  gap: 12px;
  width: 100%;
  left: 0;
  background: #1c1a19;
}

.main-box {
  margin-top: 10%;
}

.mobile-img img {
  position: absolute;
  right: 0;
  top: 45%;
  bottom: 0.1%;
}

.main {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.sub {
  height: 27px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.p {
  width: 95%;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  height: 3rem;
  width: 12rem;
  margin-top: 1rem;
  list-style: none;
  justify-content: space-between;
}

.first-icon {
  top: 78%;
  position: absolute;
  left: 2rem;
}
